[submodule "submodules/PulseRain_rtl_lib"]
	path = submodules/PulseRain_rtl_lib
	url = https://github.com/PulseRain/PulseRain_rtl_lib.git
[submodule "submodules/FP51_OCD"]
	path = submodules/FP51_OCD
	url = https://github.com/PulseRain/FP51_OCD.git
